<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;700&display=swap" rel="stylesheet">


* {
  box-sizing: border-box;
  font-family: 'Baloo Da 2', cursiv;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

ul {
  position: relative;
  transform: skewY(-15deg);
}

ul li {
  position: relative;
  list-style: none;
  width: 200px;
  background: #3e3f46;
  padding: 25px;
  transition: 0.6s;
  fon
}

ul li:hover {
  background: #33a3ee;
  transform: translateX(50px);
}

ul li:hover::before{
  background: #1f5378;
}

ul li:hover::after{
  background: #2982b9;
}

ul li::before{
  content: "";
  position: absolute;
  width: 40px;
  top: 0px;
  left: -40px;
  height: 100%;
  background: #2e3133;
  transform-origin: right;
  transform: skewY(45deg);
  transition: 0.6s;
}

ul li::after {
  content: "";
  position: absolute;
  top: -40px;
  left: 0px;
  width: 100%;
  height: 40px;
  background: #35393e;
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 0.6s;


}
ul:hover::after {
  width: 120%;
}

ul::after {
  content: "";
  position: absolute;
  bottom: -40px;
  left: 0px;
  width: 100%;
  height: 40px;
  background: #35393e;
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 0.6s;
  filter: blur(25px);
  border-radius: 12px;
  opacity: 0.5;

}
ul li a {
  text-decoration: none;
  color: #999;
  display: block;
  transition: 0.5s;
}


ul li:hover a {
  color: #fff;
}
